.row {
  lost-utility: clearfix;
  margin-top: 30px;
  margin-bottom: 30px;
}

.width1of1 {
  lost-column: 1/1;
}

.width1of2 {
  lost-column: 1/2;
}

.width1of3 {
  lost-column: 1/3;
}

.width2of3 {
  lost-column: 2/3;
}

.width1of4 {
  lost-column: 1/4;
}

.width3of4 {
  lost-column: 3/4;
}

.width1of5 {
  lost-column: 1/5;
}

.width2of5 {
  lost-column: 2/5;
}

.width3of5 {
  lost-column: 3/5;
}

.width4of5 {
  lost-column: 4/5;
}

.width1of6 {
  lost-column: 1/6;
}

.width3of6 {
  lost-column: 3/6;
}

.width4of6 {
  lost-column: 4/6;
}

.width5of6 {
  lost-column: 5/6;
}

.width1of7 {
  lost-column: 1/7;
}

.width2of7 {
  lost-column: 2/7;
}

.width3of7 {
  lost-column: 3/7;
}

.width4of7 {
  lost-column: 4/7;
}

.width5of7 {
  lost-column: 5/7;
}

.width6of7 {
  lost-column: 6/7;
}

.width1of8 {
  lost-column: 1/8;
}

.width2of8 {
  lost-column: 2/8;
}

.width3of8 {
  lost-column: 3/8;
}

.width4of8 {
  lost-column: 4/8;
}

.width5of8 {
  lost-column: 5/8;
}

.width6of8 {
  lost-column: 6/8;
}

.width7of8 {
  lost-column: 7/8;
}

.width1of9 {
  lost-column: 1/9;
}

.width2of9 {
  lost-column: 2/9;
}

.width3of9 {
  lost-column: 3/9;
}

.width4of9 {
  lost-column: 4/9;
}

.width5of9 {
  lost-column: 5/9;
}

.width6of9 {
  lost-column: 6/9;
}

.width7of9 {
  lost-column: 7/9;
}

.width8of9 {
  lost-column: 8/9;
}

.width1of10 {
  lost-column: 1/10;
}

.width2of10 {
  lost-column: 2/10;
}

.width3of10 {
  lost-column: 3/10;
}

.width4of10 {
  lost-column: 4/10;
}

.width5of10 {
  lost-column: 5/10;
}

.width6of10 {
  lost-column: 6/10;
}

.width7of10 {
  lost-column: 7/10;
}

.width8of10 {
  lost-column: 8/10;
}

.width9of10 {
  lost-column: 9/10;
}

.width1of11 {
  lost-column: 1/11;
}

.width2of11 {
  lost-column: 2/11;
}

.width3of11 {
  lost-column: 3/11;
}

.width4of11 {
  lost-column: 4/11;
}

.width5of11 {
  lost-column: 5/11;
}

.width6of11 {
  lost-column: 6/11;
}

.width7of11 {
  lost-column: 7/11;
}

.width8of11 {
  lost-column: 8/11;
}

.width9of11 {
  lost-column: 9/11;
}

.width10of11 {
  lost-column: 10/11;
}

.width1of12 {
  lost-column: 1/12;
}

.width2of12 {
  lost-column: 2/12;
}

.width3of12 {
  lost-column: 3/12;
}

.width4of12 {
  lost-column: 4/12;
}

.width5of12 {
  lost-column: 5/12;
}

.width6of12 {
  lost-column: 6/12;
}

.width7of12 {
  lost-column: 7/12;
}

.width8of12 {
  lost-column: 8/12;
}

.width9of12 {
  lost-column: 9/12;
}

.width10of12 {
  lost-column: 10/12;
}

.width11of12 {
  lost-column: 11/12;
}

/* positive offset fractions should have margin-left and not margin-right. IMO. */

.offset1of1 {
  lost-offset: -1/1;
}

.offset1of2 {
  lost-offset: -1/2;
}

.offset1of3 {
  lost-offset: -1/3;
}

.offset2of3 {
  lost-offset: -2/3;
}

.offset1of4 {
  lost-offset: -1/4;
}

.offset3of4 {
  lost-offset: -3/4;
}

.offset1of5 {
  lost-offset: -1/5;
}

.offset2of5 {
  lost-offset: -2/5;
}

.offset3of5 {
  lost-offset: -3/5;
}

.offset4of5 {
  lost-offset: -4/5;
}

.offset1of6 {
  lost-offset: -1/6;
}

.offset3of6 {
  lost-offset: -3/6;
}

.offset4of6 {
  lost-offset: -4/6;
}

.offset5of6 {
  lost-offset: -5/6;
}

.offset1of7 {
  lost-offset: -1/7;
}

.offset2of7 {
  lost-offset: -2/7;
}

.offset3of7 {
  lost-offset: -3/7;
}

.offset4of7 {
  lost-offset: -4/7;
}

.offset5of7 {
  lost-offset: -5/7;
}

.offset6of7 {
  lost-offset: -6/7;
}

.offset1of8 {
  lost-offset: -1/8;
}

.offset2of8 {
  lost-offset: -2/8;
}

.offset3of8 {
  lost-offset: -3/8;
}

.offset4of8 {
  lost-offset: -4/8;
}

.offset5of8 {
  lost-offset: -5/8;
}

.offset6of8 {
  lost-offset: -6/8;
}

.offset7of8 {
  lost-offset: -7/8;
}

.offset1of9 {
  lost-offset: -1/9;
}

.offset2of9 {
  lost-offset: -2/9;
}

.offset3of9 {
  lost-offset: -3/9;
}

.offset4of9 {
  lost-offset: -4/9;
}

.offset5of9 {
  lost-offset: -5/9;
}

.offset6of9 {
  lost-offset: -6/9;
}

.offset7of9 {
  lost-offset: -7/9;
}

.offset8of9 {
  lost-offset: -8/9;
}

.offset1of10 {
  lost-offset: -1/10;
}

.offset2of10 {
  lost-offset: -2/10;
}

.offset3of10 {
  lost-offset: -3/10;
}

.offset4of10 {
  lost-offset: -4/10;
}

.offset5of10 {
  lost-offset: -5/10;
}

.offset6of10 {
  lost-offset: -6/10;
}

.offset7of10 {
  lost-offset: -7/10;
}

.offset8of10 {
  lost-offset: -8/10;
}

.offset9of10 {
  lost-offset: -9/10;
}

.offset1of11 {
  lost-offset: -1/11;
}

.offset2of11 {
  lost-offset: -2/11;
}

.offset3of11 {
  lost-offset: -3/11;
}

.offset4of11 {
  lost-offset: -4/11;
}

.offset5of11 {
  lost-offset: -5/11;
}

.offset6of11 {
  lost-offset: -6/11;
}

.offset7of11 {
  lost-offset: -7/11;
}

.offset8of11 {
  lost-offset: -8/11;
}

.offset9of11 {
  lost-offset: -9/11;
}

.offset10of11 {
  lost-offset: -10/11;
}

.offset1of12 {
  lost-offset: -1/12;
}

.offset2of12 {
  lost-offset: -2/12;
}

.offset3of12 {
  lost-offset: -3/12;
}

.offset4of12 {
  lost-offset: -4/12;
}

.offset5of12 {
  lost-offset: -5/12;
}

.offset6of12 {
  lost-offset: -6/12;
}

.offset7of12 {
  lost-offset: -7/12;
}

.offset8of12 {
  lost-offset: -8/12;
}

.offset9of12 {
  lost-offset: -9/12;
}

.offset10of12 {
  lost-offset: -10/12;
}

.offset11of12 {
  lost-offset: -11/12;
}




