// Total columns for layout
total-columns = 12
for i in 1..total-columns
  for j in 1..i
    width = (j/i)
    offset = -(j/i)
    // Create column classes
    .width{j}of{i}
      lost-column: width
    // Create offset classes
    .offset{j}of{i}
      lost-offset: offset