@import 'tenko'

body {
  font-family: 'Titillium Web', sans-serif;
  text-align: center;
}

.container {
  position: relative;
  margin-top: 25px;
  lost-center: 980px;
}

.row {
  &:nth-of-type(6) {
    .col {
      background: darken(#BAD455, 10%);
      .col {
        background: darken(#BAD455, 20%);
      }
    }
  }
}

.col {
  position: relative;
  box-sizing: border-box;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: #BAD455;
}

.background-grid {
  position: absolute;
  width 100%;
  top:  -15px;
  left: 0;

  .bg-col {
    height: 480px;
    background: lighten(#BAD455, 80%);
  }
}

