@import 'kami'

body {
  font-family: 'Titillium Web', sans-serif;
  text-align: center;
}

a {
  color: #000;
  text-decoration: none;

  &:hover {
    color: #555;
  }
}

.container {
  position: relative;
  margin-top: 25px;
  lost-center: 980px;
}

.col {
  position: relative;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: #BAD455;
}

.row--bg {
  position: absolute;
  width 100%;
  top:  -15px;
  left: 0;

  .col {
    height: 480px;
    background: lighten(#BAD455, 80%);
  }
}

.row {
  &:nth-of-type(6) {
    .col {
      .col {
        background: darken(#BAD455, 20%);
      }
    }
  }
}
