.row {
  lost-utility: clearfix;
  margin-top: 30px;
  margin-bottom: 30px;
}

.width1of1 {
  lost-column: 1/1;
}

.width1of2 {
  lost-column: 1/2;
}

.width1of3 {
  lost-column: 1/3;
}

.width2of3 {
  lost-column: 2/3;
}

.width1of4 {
  lost-column: 1/4 ;
}

.width2of4 {
  lost-column: 2/4;
}

.width3of4 {
  lost-column: 3/4;
}

.width1of5 {
  lost-column: 1/5;
}

.width2of5 {
  lost-column: 2/5;
}

.width3of5 {
  lost-column: 3/5;
}

.width4of5 {
  lost-column: 4/5;
}

.width1of6 {
  lost-column: 1/6;
}

.width2of6 {
  lost-column: 2/6;
}

.width3of6 {
  lost-column: 3/6;
}

.width4of6 {
  lost-column: 4/6;
}

.width5of6 {
  lost-column: 5/6;
}

.width1of7 {
  lost-column: 1/7;
}

.width2of7 {
  lost-column: 2/7;
}

.width3of7 {
  lost-column: 3/7;
}

.width4of7 {
  lost-column: 4/7;
}

.width5of7 {
  lost-column: 5/7;
}

.width6of7 {
  lost-column: 6/7;
}

.width1of8 {
  lost-column: 1/8;
}

.width2of8 {
  lost-column: 2/8;
}

.width3of8 {
  lost-column: 3/8;
}

.width4of8 {
  lost-column: 4/8;
}

.width5of8 {
  lost-column: 5/8;
}

.width6of8 {
  lost-column: 6/8;
}

.width7of8 {
  lost-column: 7/8;
}

.width1of9 {
  lost-column: 1/9;
}

.width2of9 {
  lost-column: 2/9;
}

.width3of9 {
  lost-column: 3/9;
}

.width4of9 {
  lost-column: 4/9;
}

.width5of9 {
  lost-column: 5/9;
}

.width6of9 {
  lost-column: 6/9;
}

.width7of9 {
  lost-column: 7/9;
}

.width8of9 {
  lost-column: 8/9;
}

.width1of10 {
  lost-column: 1/10;
}

.width2of10 {
  lost-column: 2/10;
}

.width3of10 {
  lost-column: 3/10;
}

.width4of10 {
  lost-column: 4/10;
}

.width5of10 {
  lost-column: 5/10;
}

.width6of10 {
  lost-column: 6/10;
}

.width7of10 {
  lost-column: 7/10;
}

.width8of10 {
  lost-column: 8/10;
}

.width9of10 {
  lost-column: 9/10;
}

.width1of11 {
  lost-column: 1/11;
}

.width2of11 {
  lost-column: 2/11;
}

.width3of11 {
  lost-column: 3/11;
}

.width4of11 {
  lost-column: 4/11;
}

.width5of11 {
  lost-column: 5/11;
}

.width6of11 {
  lost-column: 6/11;
}

.width7of11 {
  lost-column: 7/11;
}

.width8of11 {
  lost-column: 8/11;
}

.width9of11 {
  lost-column: 9/11;
}

.width10of11 {
  lost-column: 10/11;
}

.width1of12 {
  lost-column: 1/12;
}

.width2of12 {
  lost-column: 2/12;
}

.width3of12 {
  lost-column: 3/12;
}

.width4of12 {
  lost-column: 4/12;
}

.width5of12 {
  lost-column: 5/12;
}

.width6of12 {
  lost-column: 6/12;
}

.width7of12 {
  lost-column: 7/12;
}

.width8of12 {
  lost-column: 8/12;
}

.width9of12 {
  lost-column: 9/12;
}

.width10of12 {
  lost-column: 10/12;
}

.width11of12 {
  lost-column: 11/12;
}




